.albumContent {
  min-width: 758px !important;
  max-width: 1000px;
}

.albumL,
.albumR {
  clear: both;
  padding: 10px 0px;
}
.albumL h4 {
  margin-top: 0.5em !important;
}
.albumR h4 {
  margin-top: 0.5em !important;
}
.albumL img {
  float: left;
  margin-right: 20px;
}
.albumR img {
  float: right;
  margin-left: 20px;
}
.albumDay {
  width: 240px;
  display: inline-table;
  vertical-align: top;
  margin: 15px 10px 0px 0px;
}
.albumDay img {
  cursor: pointer;
}
.albumText {
  padding-left: 0.5em;
  margin-top: 0.5em;
}
.albumText p {
  font-size: var(--font-size-sm);
  display: inline;
}
.albumText h4 {
  display: inline;
}
