iframe {
  border: solid 1px var(--border-color);
  padding: 8px;
}

h5 {
  margin: -3px;
  font-size: 14px;
  font-weight: 400;
  display: inline;
  padding: 0em;
}

table td {
  vertical-align: baseline;
  padding: 0px 1em 0px 0px;
}

table a {
  color: var(--link-color);
}

#content li {
  margin: -0.3em 0px;
  list-style: circle;
  display: block;
}

ul {
  padding-left: 0px;
}

.closed {
  color: var(--red);
}
