#fullScrSlideshowDim {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.9;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}
#fullScrSlideshow {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  background: var(--bg);
  padding: 8px;
}
#ssNavLeft {
  position: fixed;
  left: 50px;
  opacity: 0.9;
  cursor: pointer;
}
#ssNavRight {
  position: fixed;
  right: 50px;
  opacity: 0.9;
  cursor: pointer;
}
#exit {
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  font-size: var(--font-size-xl);
  font-family: sans-serif;
  font-weight: bold;
  color: var(--white);
  opacity: 1 !important;
}
