:root {
  --black: #232323;
  --blue: #021b9c;
  --green: #9fd781;
  --red: #a00a0a;
  --yellow: #f2d908;
  --white: #f7f8e1;
  --bg: var(--white);
  --header-bg: var(--yellow);
  --header-border-color: var(--red);
  --header-color: var(--white);
  --header-text-shadow: var(--green);
  --footer-bg: var(--green);
  --border-color: var(--green);
  --border-main: 1px solid var(--green);
  --link-color: var(--blue);

  --heading-color: var(--blue);
  --heading-text-shadow: var(--green);
  --heading-text-shadow-2: var(--red);

  --font-body: "Grandesign Neue Serif", serif;
  --font-heading: "Bree Serif", serif;
}

@font-face {
  font-family: "Grandesign Neue Serif";
  src: url("/src/fonts/Grandesign Neue Serif.ttf");
}

body {
  background: var(--footer-bg);
  font-family: var(--font-body);
  padding: 0px;
  margin: 0px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}

#wrapper {
  background: var(--bg);
  height: 100%;
  margin: 0px 0px;
  width: 100%;
  min-width: 1000px;
}

/* --- HEADER --- */

#header {
  padding: 10px 0px;
  color: var(--header-color);
  position: relative;
  min-width: 1000px;
}
#header #pic0 {
  position: absolute;
  top: 15px;
  left: 550px;
}
#header #pic1 {
  position: absolute;
  top: 15px;
  left: 700px;
}
h1 {
  font-size: 72px;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 0em;
  margin-bottom: 0em;
  text-shadow: #9fd781 3px 2px;
  line-height: 0.8;
}
#header h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 0 12px;
  text-shadow: #9fd781 2px 1px;
  line-height: 1;
}
#headerNav {
  font-family: var(--font-heading);
  background: var(--header-bg);
  width: 100%;
  min-width: 1000px;
  height: 153px;
  border-bottom: 3px solid var(--header-border-color);
  padding: 0px;
  margin: 0px;
}
/* --- NAVIGATION --- */

#navigation {
  background: #f2d908;
  min-width: 800px;
  padding-left: 200px;
  display: block;
  position: absolute;
  padding-bottom: 0px;
  top: 120px;
  z-index: 0;
}
#navigation a {
  background: #021b9c;
  display: inline;
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: #f7f8e1;
  text-shadow: #a00a0a 1px 1px;
  margin: 0px 5px;
  padding: 5px 7px 3px 7px;
}
#navigation a:hover {
  background: #f7f8e1;
  color: #021b9c;
  padding: 3px 8px 6px 8px;
  margin: 2px;
  border: solid 3px #a00a0a;
  border-bottom: none;
  z-index: 10;
}
#navigation a.thisPage {
  background: #f7f8e1;
  color: #021b9c;
  padding: 3px 8px 6px 8px;
  margin: 0px 2px;
  border: 3px solid var(--header-border-color);
  border-bottom: none;
  z-index: 100;
}

/* --- MAIN SECTION --- */

#main {
  float: left;
  width: 100%;
  min-width: 1000px; /* Minsta fönsterstorlek*/
  background: var(--bg);
  z-index: 10;
}
/* -- LOCAL NAVIGATION -- */
#localNav {
  margin: 10px 0px 10px 10px;
  background: var(--bg);
  border: var(--border-main);
  width: 170px;
  float: left;
  padding: 10px;
  position: relative;
}
#localNav a {
  --hover-color: var(--green);
  display: block;
  font-size: 14px;
  color: var(--link-color);
  text-decoration: none;
  padding: 2px 0px;

  &:hover {
    display: block;
    background: var(--hover-color) !important;
    font-size: 14px;
    text-decoration: none;
  }
}

#localNav h4 {
  margin: 0px;
  margin-bottom: 3px;
  padding: 5px;
  color: #f7f8e1;
  text-shadow: #a00a0a 1px 1px;
  font-weight: 100;
  text-decoration: none;
  background: #021b9c;
}
.thisLocal {
  display: block;
  font-size: 14px;
  color: #021b9c;
  background: #9fd781 !important;
  text-decoration: none;
}
/* -- CONTENT -- */
#content {
  background: #f7f8e1;
  padding: 10px;
  float: left;
  position: relative;
  width: 55%;
  min-width: 550px;
  max-width: 800px;
  min-height: 417px;
}
#content h2 {
  font-family: var(--font-heading);
  color: var(--heading-color);
  font-size: 36px;
  margin: 0px;
  text-shadow: var(--heading-text-shadow) 2px 1px;
}
#content h3 {
  font-family: var(--font-heading);
  margin: -0.5em 0px 1em;
}
#content h4 {
  font-family: var(--font-heading);
  color: var(--heading-color);
  text-shadow: var(--heading-text-shadow) 1px 1px;
  margin: 1em 0px 0em;
  font-weight: 100;
}
#content p {
  font-size: 16px;
  margin-top: 0px;
  text-align: justify;
}
#content li {
  margin: -0.7em 15px;
  list-style: circle;
}
#content img {
  border: var(--border-main);
  padding: 8px;
}

/* -- RIGHT COLUMN -- */
#rightCol div {
  margin: 10px 0px 0px 10px;
  padding: 10px;
  border: var(--border-main);
  float: left;
  position: relative;
  width: 190px;
}
#rightCol h3 {
  margin: 0px;
  color: #021b9c;
  text-shadow: var(--heading-text-shadow) 1px 1px;
  font-weight: 100;
}
#rightCol h4 {
  font-family: var(--font-heading);
  margin: 0px;
  color: #021b9c;
  text-shadow: var(--heading-text-shadow) 1px 1px;
  font-weight: 100;
  text-decoration: none;
}
#rightCol p {
  font-size: 16px;
  margin-top: 0px;
}
#rightCol a {
  color: var(--link-color);
  display: block;
  margin-top: 4px;
}
#rightCol img {
  border: var(--border-main);
  padding: 8px;
  text-align: center;
}

/* --- FOOTER --- */
#footer {
  background: var(--footer-bg);
  clear: both;
  width: 100%;
  padding: 0.1em 0px;
  font-size: 12px;
}
#footer p {
  margin-left: 10px;
  margin-right: 10px;
}
#kiwiDiv {
  position: relative;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
#kiwi {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

iframe {
  margin: 5px 0px;
}

/* GLOBALA KLASSER */
.alignRight {
  float: right;
}
.alignLeft {
  float: left;
}
