#content {
  width: 980px !important;
  max-width: 1050px !important;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
#content h2 {
  margin-bottom: 0em;
}
h4 {
  margin-bottom: 16px !important;
  color: var(--heading-color);
  text-shadow: var(--heading-text-shadow) 1px 1px;
  font-weight: 100;
}
#slideshowStart {
  margin: 50px 0px 20px 20px;
}
#columns {
  display: inline-block;
  position: relative;
  width: 980px;
  margin-top: 10px;
}
#columns p {
  text-align: left;
  margin-top: 3px;
  font-size: 14px;
}
#columns a {
  color: var(--link-color);
}
#startIntro {
  width: 440px;
}
.startCol {
  width: 305px;
  height: 200px;
  padding: 10px;
  float: left;
  vertical-align: top;
}
#col2 {
  border-left: var(--border-main);
  border-right: var(--border-main);
}
#startCol3 div {
  padding: 0px;
}
#columns h3 {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 100;
  color: var(--heading-color);
  text-shadow: var(--heading-text-shadow-2) 1px 1px;
  margin: 0px 0px;
}
