@charset "UTF-8";
/* CSS Destinations */

iframe {
	border:solid 1px #9FD781;
	padding:8px;
}

h5 {
	margin:-3px;
	font-family: 'Bree Serif', serif;
	font-size:14px;
	font-weight:400;
	display:inline;
	padding:0em;
}

table td {
	font-family:"GranDesign Neue Serif";
	vertical-align:baseline;
	padding:0px 1em 0px 0px;
}
table a {
	color:#021B9C;
}

#content li {
	margin: -0.3em 0px;
	font-family:"GranDesign Neue Serif";
	list-style: circle;
	display:block;
}
ul {
	padding-left:0px;
}
.closed {
	color:#C00;
}