@charset "UTF-8";
/* CSS DIARIES */

/* -- CONTENT DIARIES -- */
.day {
  color: #021b9c;
  float: right;
}
.place {
  float: right;
}
.prevNext {
  font-size: 12px;
  padding: 5px;
}
.prevNext a {
  text-decoration: none;
  color: #021b9c;
}
.author {
  margin-left: 20px;
  color: #a00a0a;
  text-shadow: #9fd781 1px 1px;
}
.date {
  margin-left: 20px;
  color: #a00a0a;
  text-shadow: #9fd781 1px 1px;
}
.splitter {
  color: #a00a0a;
  text-shadow: #9fd781 1px 1px;
  text-align: center;
  font-size: 24px;
  margin: -0.5em;
}

/* -- CONTENT SLIDESHOW -- */
#slideshow {
  position: relative;
  text-align: center;
  margin: 10px 0px;
}
#ssNavL {
  position: absolute;
  left: 0px;
  bottom: 150px;
  cursor: pointer;
  padding: 0px !important;
  border: none !important;
}
#ssNavR {
  position: absolute;
  right: 0px;
  bottom: 150px;
  cursor: pointer;
  padding: 0px !important;
  border: none !important;
}
#ssPic {
  margin: 0px 3px;
  background: #f7f8e1;
  border: solid 1px #9fd781;
  padding: 8px;
}
/* -- CONTENT INTRO DIARIES -- */
#intro img {
  border: 1px solid #9fd781;
  padding: 8px;
  margin: 0px 10px 10px 0px;
}
